/*  
   LINK AI CSS
*/
/* @import url(media.css); */
/* @import url(12bool.css); */
/* @import url(useful.css); */

/* 
    RESET
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    CONTAINER
*/
.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* 
    GENERAL
*/

html{
    font-family: Arial, Helvetica, sans-serif;

}

div img {
    width: 900px;
    height: 500px;
}

#saluto {
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:url(https://i.ytimg.com/vi/nxdtLJnCKqk/maxresdefault.jpg);
}

h3 {
    font-size: 48px;
    font-style: italic;
    color: rgba(159, 0, 0, 0.867);
}