/* 
    CLASSI UTILI
*/

.justify-content-sm-start {
    justify-content: flex-start;
}

.justify-content-sm-center {
    justify-content: center;
}

.justify-content-sm-end {
    justify-content: flex-end;
}

.justify-content-md-start {
    justify-content: flex-start;
}

.justify-content-md-center {
    justify-content: center;
}

.justify-content-md-end {
    justify-content: flex-end;
}

.justify-content-lg-start {
    justify-content: flex-start;
}

.justify-content-lg-center {
    justify-content: center;
}

.justify-content-lg-end {
    justify-content: flex-end;
}
